<div data-v-0ef69fa0 class="recharge-desc">
    <h1 data-v-0ef69fa0>注意事项</h1>
    <h3 data-v-0ef69fa0>1. 如何选择已有文件？</h3>
    <p data-v-0ef69fa0> 在 Print Online 平台上进入文件分享页面 - 「选择文件」 - 「我的文件」即可获取历史上传文件列表，进行选择分享。</p>
    <h3 data-v-0ef69fa0>2. 小提示</h3>
    <p data-v-0ef69fa0>对文件进行描述编辑的时候，适当上传文件的内容目录截屏，会增加文件的吸引力，诱导更多同学下载哦~</p>
    <h3 data-v-0ef69fa0>3. 特别提示</h3>
    <p data-v-0ef69fa0>一旦发现用户上传违法、违反道德底线的文件，本平台将会对用户实行永久封禁。</p>
    <h3 data-v-0ef69fa0>4. 特别提示</h3>
    <p data-v-0ef69fa0>一旦发现用户上传违法、违反道德底线的文件，本平台将会对用户实行永久封禁。</p>
    <h3 data-v-0ef69fa0>5. 特别提示</h3>
    <p data-v-0ef69fa0>一旦发现用户上传违法、违反道德底线的文件，本平台将会对用户实行永久封禁。</p>
    <h3 data-v-0ef69fa0>6. 其他功能</h3>
    <p data-v-0ef69fa0>(1) 点击 <a data-v-0ef69fa0 target="_blank" href="/order/info" class="color1075d4">订单列表</a>&nbsp;查看历史打印记录<br
            data-v-0ef69fa0>(2)
        通过点击&nbsp;<a data-v-0ef69fa0 target="_blank" href="/index" class="color1075d4">店铺选择</a>&nbsp;，可选择店铺进行打印；<br
                data-v-0ef69fa0></p>
</div>

<div data-v-a05d844a data-v-715e15c5 :class="{'notice-wrap': true, 'is-hidden': createSuccess}">
    <div data-v-a05d844a class="notice-info"><i data-v-a05d844a class="iconfont"></i>
        <h1 data-v-a05d844a>分享成功</h1>
        <p data-v-a05d844a>是否去校园资料库逛逛？</p>
        <div data-v-a05d844a class="btns">
            <button @click="handleShareIndex" class="btn-go-share" data-v-a05d844a>前去逛逛</button>
            <button @click="handleBackIndex" class="btn-go-index" data-v-a05d844a>回到首页</button></div>
    </div>
</div>