<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wrq.dao.BonusMapper">
  <resultMap id="BaseResultMap" type="com.wrq.pojo.Bonus">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="shop_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="threshold" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bonus" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, shop_id, threshold, bonus, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bonus_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bonus_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wrq.pojo.Bonus">
    insert into bonus_info (id, shop_id, threshold, 
      bonus, description)
    values (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{threshold,jdbcType=VARCHAR}, 
      #{bonus,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wrq.pojo.Bonus">
    insert into bonus_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="threshold != null">
        threshold,
      </if>
      <if test="bonus != null">
        bonus,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="threshold != null">
        #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="bonus != null">
        #{bonus,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wrq.pojo.Bonus">
    update bonus_info
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="threshold != null">
        threshold = #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="bonus != null">
        bonus = #{bonus,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wrq.pojo.Bonus">
    update bonus_info
    set shop_id = #{shopId,jdbcType=INTEGER},
      threshold = #{threshold,jdbcType=VARCHAR},
      bonus = #{bonus,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateBonus" parameterType="com.wrq.pojo.Bonus">
    update bonus_info
    set
    threshold = #{threshold,jdbcType=VARCHAR},
    bonus = #{bonus,jdbcType=VARCHAR}
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>



  <select id="selectBonusByShopId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bonus_info
    where shop_id = #{id,jdbcType=INTEGER}
  </select>

</mapper>