<div class="_3KjZQbwk_0">
    <div class="kcMABq6U_0"><span>分类：</span> <a @click="handleAllClick"  :class="{'_2TWCBjxa_0':true, '_2CeglKlV_0':all}">全部</a>
        <a  @click="handlePostgraduateClick" :class="{'_2TWCBjxa_0':true, '_2CeglKlV_0':postgraduate}">考研</a>
        <a  @click="handleExaminationClick" :class="{'_2TWCBjxa_0':true, '_2CeglKlV_0':exam}">考试</a>
        <a  @click="handlePaperClick" :class="{'_2TWCBjxa_0':true, '_2CeglKlV_0':paper}">论文</a>
        <a  @click="handleCivilClick" :class="{'_2TWCBjxa_0':true, '_2CeglKlV_0':civil}">考公</a>
        <a  @click="handleCETClick" :class="{'_2TWCBjxa_0':true, '_2CeglKlV_0':cet}">四六级</a>
        <a  @click="handleOtherClick" :class="{'_2TWCBjxa_0':true, '_2CeglKlV_0':other}">其他</a>
    </div>
    <div class="kkd89V2i_0"><button @click="handleGoShareCLick" class="_2_KiDaj7_0">我要分享</button></div>
</div>