<html>
<head>
    <meta charset="utf-8">
    <title>打印预约</title>
    <#include "portal/common/meta.html"/>
    <link rel="stylesheet" type="text/css" href="${basePath}/css/detail.css" />
    <link  rel="stylesheet" type="text/css" href="${basePath}/css/common.css">
    <#include "portal/common/js.html"/>
</head>
<body>
<div id="app">
    <div>
        <div class="_3dovrgUI_0">

            <#include "portal/common/page/header.html"/>

            <div id="detail">

            <#include "portal/detail/head.html"/>

            <#include "portal/detail/container.html"/>

            </div>

            <#include "portal/common/page/footer.html"/>

            <div data-v-57b648e1="" class="return-top"><i data-v-57b648e1="" class="iconfont"></i></div>
        </div>
    </div>
</div>
<!--引入js-->
<script src="${basePath}/service/detail/index.js"></script>
</body>
</html>
