<html>
<head>
    <meta charset="utf-8">
    <title>打印预约</title>
    <#include "portal/common/meta.html"/>
    <link href="${basePath}/css/common.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="${basePath}/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="${basePath}/css/footer.css"/>
    <script src="${basePath}/js/lib/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="${basePath}/js/lib/unslider.js" type="text/javascript" charset="utf-8"></script>
    <!--引入js-->
    <#include "portal/common/js.html"/>
</head>
<body>
<div id="app">
    <div data-v-637a7fc8="" class="page-home">

        <#include "portal/common/page/header.html"/>

        <#include "portal/index/banner.html"/>

        <#include "portal/index/content.html"/>

    </div>
        <#include "portal/common/page/footer.html"/>
</div>
</div>
<script type="text/javascript">
    $(function() {
        $('.banner').unslider();
    });
</script>
<!--<script src="/js/index/index.js"></script>-->
</body>
</html>
