<html>
<head>
    <meta charset="utf-8">
    <title>打印预约</title>
    <link rel="stylesheet" type="text/css" href="${basePath}/css/share-detail.css" />
    <link rel="stylesheet" type="text/css" href="${basePath}/css/common.css" />
    <link rel="stylesheet" type="text/css" href="${basePath}/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="${basePath}/css/comment.css" />
    <#include "portal/common/js.html"/>
</head>
<body>
<div>

    <#include "portal/common/page/header.html"/>

        <div class="_3dovrgUI_0" id="share-detail">

            <#include "portal/share-detail/desc.html"/>
            <div class="_2qkcjvzY_0 _1IL6-zM2_0">

                <div class="_1oYY3l2R_0">

                    <#include "portal/share-detail/tag.html"/>

                    <#include "portal/share-detail/content.html"/>

                </div>
            </div>
        </div>
</div>
<#include "portal/common/page/footer.html"/>
<script src="${basePath}/service/share-detail/index.js"></script>
</body>
</html>
