<html>
<head>
    <meta charset="utf-8">
    <title>资料库</title>
    <link rel="stylesheet" type="text/css" href="${basePath}/css/footer.css"/>
    <link href="${basePath}/css/common.css" rel="stylesheet" type="text/css" />
    <link href="${basePath}/css/shared.css" rel="stylesheet" type="text/css" />
    <#include "portal/common/js.html"/>
</head>
<body>
<div>
    <div>
        <div>
            <#include "portal/common/page/header.html"/>
        </div>
        <div>
            <div class="_2lx4a-CP_0"  id="shared">

                <#include "portal/shared/classify.html"/>

                <#include "portal/shared/item.html"/>
            </div>
        </div>

    </div>
    <#include "portal/common/page/footer.html"/>
</div>

<script src="${basePath}/service/shared/index.js"></script>

</body>
</html>
