<div data-v-72e5c9fe data-v-a5d53ce8 :class="{'account-main': true,'is-hidden': accountItem}">
    <div data-v-a1f2b3b6 data-v-72e5c9fe class="right-section">
        <h1 data-v-a1f2b3b6 class="title">修改密码</h1>
        <div data-v-a1f2b3b6 class="error">
        </div>
        <div data-v-a1f2b3b6 class="item">
            <div data-v-a1f2b3b6 class="item-detail">
                <span data-v-a1f2b3b6 class="type-reset">旧密码:</span>
										<span data-v-a1f2b3b6>
											 <input data-v-a1f2b3b6 type="password" v-model="oldPassword"  placeholder="" maxlength="30" class="input">
										</span>
                <span data-v-a1f2b3b6 title="" class="value"  ></span></div>
        </div>

        <div data-v-a1f2b3b6 class="item">
            <div data-v-a1f2b3b6 class="item-detail">
                <span data-v-a1f2b3b6 class="type-reset">新密码:</span>
										<span data-v-a1f2b3b6>
											 <input data-v-a1f2b3b6 type="password" v-model="newPassword"   placeholder="" maxlength="30" class="input">
										</span>
                <span data-v-a1f2b3b6 title="" class="value"  ></span></div>
        </div>

        <div data-v-a1f2b3b6 class="item">
            <div data-v-a1f2b3b6 class="item-detail">
                <span data-v-a1f2b3b6 class="type-reset">确认密码:</span>
										<span data-v-a1f2b3b6>
											 <input data-v-a1f2b3b6 type="password" v-model="secondPassword"   placeholder="" maxlength="30" class="input">
										</span>
                <span data-v-a1f2b3b6 title="" class="value"  ></span></div>
        </div>
        <div data-v-a1f2b3b6 class="item">
            <div data-v-a1f2b3b6 class="item-detail">
                <span data-v-a1f2b3b6 class="type-reset"></span>
										<span data-v-a1f2b3b6>
                                            <button data-v-a1f2b3b6 class="btn-control save-reset" @click="handleSavePasswordClick">保存</button>
										</span>
            </div>
        </div>
    </div>
</div>