<div data-v-0ef69fa0 class="recharge-desc">
    <h1 data-v-0ef69fa0>注意事项</h1>
    <h3 data-v-0ef69fa0>1.价格是如何计算的？</h3>
    <p data-v-0ef69fa0>在店铺介绍页面有此店铺相应规格的价格体系，并且提供相应的优惠活动，根据用户选择的参数以及上传的文件自动算出文件的价格。</p>
    <h3 data-v-0ef69fa0>2.如何取货？</h3>
    <p data-v-0ef69fa0>确认自己的&nbsp;<a data-v-0ef69fa0 target="_blank" href="" class="color1075d4">手机号</a>&nbsp;是自己正在使用的手机号，
        能够正常接收短信，当店家接单后进行打印，打印完毕给用户发送一条短信，用户通过短信中的取货码即可取件。</p>
    <h3 data-v-0ef69fa0>3.特别提示</h3>
    <p data-v-0ef69fa0>一旦店家接单打印成功，无法退款。取货通知短信中包含店家规定的取货时间，请在允许的时间范围内取货。如有问题，请联系店家客服：电话/微信 ${shopInfo.ownerPhone}</p>
    <h3 data-v-0ef69fa0>4.其他功能</h3>
    <p data-v-0ef69fa0>(1) 在 Print Online 平台上「用户」 - 「我的打印」 - 「进入历史订单页面」可查看历史打印记录，对店铺服务进行打分；<br data-v-0ef69fa0>(2)
        通过点击&nbsp;<a data-v-0ef69fa0 target="_blank" href="/share/list" class="color1075d4">校园资料库</a>&nbsp;，可共享自己的文件赚取积分，同时可以查看其他用户的共享，进行下载；<br
                data-v-0ef69fa0></p>
</div>